# Unit 15. 심사문제

In [ ]:
# 15.4 심사문제 : 교통카드 시스템 만들기
age = int(input())
balance = 9000
if 7 <= age <= 12:
    balance = balance - 650
elif 13 <= age <= 18:
    balance = balance - 1050
elif 19 <= age:
    balance = balance - 1250
print(balance)

17
7950

In [ ]:
# 15.4 심사문제 : 교통카드 시스템 만들기
age = int(input())
balance = 9000
if 7 <= age <= 12:
    balance = balance - 650
elif 13 <= age <= 18:
    balance = balance - 1050
elif 19 <= age:
    balance = balance - 1250
print(balance)

12
8350

# Unit 16. 심사문제

In [ ]:
# 16.6 심사문제 : 구구단 출력하기
x = int(input())
for i in range(1,10):
    print(x, '*', i , '=', x * i, sep = ' ')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# 16.6 심사문제 : 구구단 출력하기
x = int(input())
for i in range(1,10):
    print(x, '*', i , '=', x * i, sep = ' ')

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

# Unit 17. 심사문제

In [ ]:
# 17.6 심사문제 : 교통카드 잔액 출력하기
balance = int(input())
while 1350 <= balance:
    balance -= 1350
    print(balance)

10000
8650
7300
5950
4600
3250
1900
550

In [ ]:
# 17.6 심사문제 : 교통카드 잔액 출력하기
balance = int(input())
while 1350 <= balance:
    balance -= 1350
    print(balance)

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

# Unit 18. 심사문제

In [ ]:
# 18.6 심사문제 : 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력하기
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break
    print(i, end = ' ')
    i += 1

1 20
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [ ]:
# 18.6 심사문제 : 두 수 사이의 숫자 중 3으로 끝나지 않는 숫자 출력하기
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break
    print(i, end = ' ')
    i += 1

21 33
21 22 24 25 26 27 28 29 30 31 32

# Unit 19. 심사문제

In [ ]:
# 19.6 심사문제 : 산 모양으로 별 출력하기
x = int(input())
for i in range(x):
    for j in reversed(range(x)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(x):
        if j < i:
            print('*', end='')
    print()

3
  *
 ***
*****

In [ ]:
# 19.6 심사문제 : 산 모양으로 별 출력하기
x = int(input())
for i in range(x):
    for j in reversed(range(x)):
        if j > i:
            print(' ', end='')
        else:
            print('*', end='')
    for j in range(x):
        if j < i:
            print('*', end='')
    print()

5
    *
   ***
  *****
 *******
*********

# Unit 22. 심사문제

In [ ]:
# 22.10 심사문제 : 2의 거듭제곱 리스트 생성하기
start, stop = map(int, input().split())
i = start
j = stop
list = [2 ** i for i in range(i, j + 1)]
del list[1]
del list[-2]
print(list)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

In [ ]:
# 22.10 심사문제 : 2의 거듭제곱 리스트 생성하기
start, stop = map(int, input().split())
i = start
j = stop
list = [2 ** i for i in range(i, j + 1)]
del list[1]
del list[-2]
print(list)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

# 추가문제

In [ ]:
# 1000이하의 숫자 a, b, c 중 피타고라스의 법칙을 만족하는 a, b, c 찾기(단, a < b < c)
for a in range(1001):
    for b in range(1001):
        for c in range(1001):
            if a < b < c and a + b + c == 1000 and a * a + b * b == c * c:
                print(a, b, c)

200 375 425

In [ ]:
# 본인의 생일을 년, 월, 일로 입력받아 오늘 날짜의 만 나이를 구하기
from datetime import date
today = date.today()
today.year, today.month, today.day

(2021, 7, 29)

In [ ]:
# 디지털 시계에 하루동안 표시되는 시간을 초로 환산하면 총 몇 초인지 구하기
total = 0
for i in range(0, 24):                          # i는 시간(hour)
    if i % 10 == 3:
        total += 3600
    else:
        for k in range(0, 6):                   # k는 분침의 10의 자리
            if k ==3:
                total += 600
            else:
                for l in range(0, 10):          # l은 분침의 1의 자리
                    if l ==3:
                        total += 60
print(f'{total}초입니다.')

29700초입니다.