# Unit 22. 과제

In [1]:
# 22.10 심사문제 : 2의 거듭제곱 리스트 생성하기
start, stop = map(int, input().split())
i = start
j = stop
list = [2 ** i for i in range(i, j + 1)]
del list[1]
del list[-2]
print(list)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

In [2]:
# 22.10 심사문제 : 2의 거듭제곱 리스트 생성하기
start, stop = map(int, input().split())
i = start
j = stop
list = [2 ** i for i in range(i, j + 1)]
del list[1]
del list[-2]
print(list)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

# Unit 23. 과제

In [51]:
# 23.7 심사문제 : 지뢰찾기

# Unit 24. 과제

In [38]:
# 24.5 심사문제 : 특정 단어 개수 세기
paragraph = input().split()
count = 0
for words in paragraph:
    if (words.strip(',.')=='the'):
        count += 1
print(count)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

In [39]:
# 24.6 심사문제 : 높은 가격순으로 출력하기
price = list(map(int, input().split(';')))
price.sort(reverse = True)
for i in price:
    print('{0:>9,}'.format(i))

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

# Unit 25. 과제

In [40]:
# 25.8 심사문제 : 딕셔너리에서 특정 값 삭제하기
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
del x['delta']
x = {key: value for key, value in x.items() if value != 30}
print(x)

alpha bravo charlie delta
10 20 30 40
{'alpha': 10, 'bravo': 20}

In [41]:
# 25.8 심사문제 : 딕셔너리에서 특정 값 삭제하기
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
del x['delta']
x = {key: value for key, value in x.items() if value != 30}
print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

# Unit 26. 과제

In [44]:
# 26.9 심사문제 : 공약수 구하기
x, y = map(int, input().split())
a = {i for i in range(1, x + 1) if x % i == 0}
b = {i for i in range(1, y + 1) if y % i == 0}
divisor = a & b
result = 0
if type(divisor) == set:
    result = sum(divisor)
print(result)

10 20
18

In [45]:
# 26.9 심사문제 : 공약수 구하기
x, y = map(int, input().split())
a = {i for i in range(1, x + 1) if x % i == 0}
b = {i for i in range(1, y + 1) if y % i == 0}
divisor = a & b
result = 0
if type(divisor) == set:
    result = sum(divisor)
print(result)

100 200
217