# Unit 22. 과제

In [ ]:
# 22.10 심사문제 : 2의 거듭제곱 리스트 생성하기
start, stop = map(int, input().split())
i = start
j = stop
list = [2 ** i for i in range(i, j + 1)]
del list[1]
del list[-2]
print(list)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

In [ ]:
# 22.10 심사문제 : 2의 거듭제곱 리스트 생성하기
start, stop = map(int, input().split())
i = start
j = stop
list = [2 ** i for i in range(i, j + 1)]
del list[1]
del list[-2]
print(list)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

# Unit 23. 과제

In [ ]:
# 23.7 심사문제 : 지뢰찾기
col, row = map(int, input().split())
matrix = []
for i in range(row):
    matrix.append(list(input()))

for i in range(row):
    for j in range(col):
        if matrix[i][j] == '*':
            print(matrix[i][j], sep = '', end = '')
        else:
            count = 0
            for x in range(i - 1, i + 2):
                for y in range(j - 1, j + 2):
                    if x < 0 or y < 0 or x >= row or y >= col:
                        continue
                    elif matrix[x][y] == '*':
                        count += 1
            print(count, sep = '', end = '')
    print()

3 3
.**
*..
.*.
2**
*43
2*1

In [ ]:
# 23.7 심사문제 : 지뢰찾기
col, row = map(int, input().split())
matrix = []
for i in range(row):
    matrix.append(list(input()))

for i in range(row):
    for j in range(col):
        if matrix[i][j] == '*':
            print(matrix[i][j], sep = '', end = '')
        else:
            count = 0
            for x in range(i - 1, i + 2):
                for y in range(j - 1, j + 2):
                    if x < 0 or y < 0 or x >= row or y >= col:
                        continue
                    elif matrix[x][y] == '*':
                        count += 1
            print(count, sep = '', end = '')
    print()

5 5
..*..
...*.
.*...
.***.
*.*..
01*21
123*1
2*532
3***1
*4*31

In [35]:
import random
mines = []
for _ in range(9):
    row = ''        # 문자열이 리스트 안에 들어가있는 것처럼 구현
    for _ in range(9):
        if random.random() > 0.6:       # 지뢰가 40%정도
            row += '*'
        else:
            row += '.'
    mines.append(row)

In [38]:
mines = [['*' if random.random() > 0.6 else '.' for _ in range(9)] for _ in range(9)]
for i in range(len(mines)):
    for k in range(len(mines)):
        print(mines[i][k], end = ' ')
    print()

. * . * * . . . .
. * . * . . . . .
* . * . . . * . .
* * . . * * . * *
* . * * * * * * *
* . * . . * * . *
. . . . . . . . *
. . . * . * * . *
* * * . * * . * *

In [39]:
def print_mines(mat):
    for i in range(len(mat)):
        for k in range(len(mat)):
            print(mat[i][k], end = ' ')
        print()
print_mines(mines)

. * . * * . . . .
. * . * . . . . .
* . * . . . * . .
* * . . * * . * *
* . * * * * * * *
* . * . . * * . *
. . . . . . . . *
. . . * . * * . *
* * * . * * . * *

In [40]:
pad_mines = []
pad_mines.append('...........')
for i in range(9):
    row = '.'
    for k in range(9):
        row += mines[i][k]
    row += '.'
    pad_mines.append(row)
pad_mines.append('...........')

print_mines(pad_mines)

. . . . . . . . . . .
. . * . * * . . . . .
. . * . * . . . . . .
. * . * . . . * . . .
. * * . . * * . * * .
. * . * * * * * * * .
. * . * . . * * . * .
. . . . . . . . . * .
. . . . * . * * . * .
. * * * . * * . * * .
. . . . . . . . . . .

In [41]:
final_mines = []
for i in range(1, 10):
    row = ''
    for k in range(1, 10):
        if pad_mines[i][k] == '*':
            row += '*'
        else:
            count = (pad_mines[i - 1][k - 1] == '*') + (pad_mines[i - 1][k] == '*') + \
                    (pad_mines[i - 1][k + 1] == '*') + (pad_mines[i][k - 1] == '*') + \
                    (pad_mines[i][k + 1] == '*') + (pad_mines[i + 1][k - 1] == '*') + \
                    (pad_mines[i + 1][k] == '*') + (pad_mines[i + 1][k + 1] == '*')
            row += str(count)
    final_mines.append(row)

print_mines(final_mines)

2 * 4 * * 1 0 0 0
3 * 5 * 3 2 1 1 0
* 5 * 3 3 3 * 3 2
* * 4 5 * * 6 * *
* 6 * * * * * * *
* 4 * 4 4 * * 6 *
1 2 2 2 3 4 4 5 *
2 3 3 * 4 * * 5 *
* * * 3 * * 4 * *

# Unit 24. 과제

In [ ]:
# 24.5 심사문제 : 특정 단어 개수 세기
paragraph = input().split()
count = 0
for words in paragraph:
    if (words.strip(',.')=='the'):
        count += 1
print(count)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

In [25]:
text = """the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors,
 whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. 
 That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. 
 I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. 
 Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the."""
text.count('the')

8

In [20]:
import re
text = re.sub('[\'-.,\n]', '', text)
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar  That is why at the age of six I gave up what might have been a magnificent career as a painter  I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two  Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [27]:
text = re.sub('[^A-Za-z ]', '', text)
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar  That is why at the age of six I gave up what might have been a magnificent career as a painter  I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two  Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [28]:
text_list = text.lower().strip().split()
count = 0
for word in text_list:
    if word == 'the':
        count += 1
count

6

In [ ]:
# 24.6 심사문제 : 높은 가격순으로 출력하기
price = list(map(int, input().split(';')))
price.sort(reverse = True)
for i in price:
    print('{0:>9,}'.format(i))

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

# Unit 25. 과제

In [ ]:
# 25.8 심사문제 : 딕셔너리에서 특정 값 삭제하기
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
del x['delta']
x = {key: value for key, value in x.items() if value != 30}
print(x)

alpha bravo charlie delta
10 20 30 40
{'alpha': 10, 'bravo': 20}

In [ ]:
# 25.8 심사문제 : 딕셔너리에서 특정 값 삭제하기
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
del x['delta']
x = {key: value for key, value in x.items() if value != 30}
print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

In [42]:
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys, values))
del x['delta']
for key, value in x.items():
    if value == 30:
        break

x.pop(key)      # del x[key]
x

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90

{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

# Unit 26. 과제

In [ ]:
# 26.9 심사문제 : 공약수 구하기
x, y = map(int, input().split())
a = {i for i in range(1, x + 1) if x % i == 0}
b = {i for i in range(1, y + 1) if y % i == 0}
divisor = a & b
result = 0
if type(divisor) == set:
    result = sum(divisor)
print(result)

10 20
18

In [ ]:
# 26.9 심사문제 : 공약수 구하기
x, y = map(int, input().split())
a = {i for i in range(1, x + 1) if x % i == 0}
b = {i for i in range(1, y + 1) if y % i == 0}
divisor = a & b
result = 0
if type(divisor) == set:
    result = sum(divisor)
print(result)

100 200
217

In [24]:
div_list = []
x = 10
for i in range(1, x + 1):
    if x % i == 0:
        div_list.append(i)
set(div_list)

{1, 2, 5, 10}

In [30]:
x, y = map(int, input().split())
a = {i for i in range(1, x + 1) if x % i == 0}
b = {i for i in range(1, y + 1) if y % i == 0}
print(a, b)
divisor = a & b

result = 0
if type(divisor) == set:
    result = sum(divisor)

print(result)

10 20
{1, 2, 10, 5} {1, 2, 4, 5, 10, 20}
18