# Unit 30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [1]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [2]:
print_numbers(10, 20, 30)

10
20
30

In [4]:
# *x : list unpacking / *y : tuple unpacking
x, y = [10, 20, 30], (40, 50, 60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [8]:
def print_numbers2(*args):
    for arg in args:
        print(arg)

In [9]:
print_numbers2(10, 20, 30, 40)

10
20
30
40

In [10]:
print_numbers2(10)

10

### 고정 인수와 가변 인수

In [11]:
def print_numbers3(a, *args):
    print(a)
    print(args)

In [12]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [13]:
print_numbers3(*x)

10
(20, 30)

In [14]:
# 고정 위치 인수가 가변 위치 인수보다 먼저 나와야 함
def print_numbers4(*args, a):
    print(args)
    print(a)

In [15]:
print_numbers4(*x)

TypeError: ignored

## 30.2 키워드 인수

In [20]:
def personal_info(name, age, addr):
    print('이름 :', name)
    print('나이 :', age)
    print('주소 :', addr)

In [21]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름 : 홍길동
나이 : 30
주소 : 서울 강남구 도곡동

In [22]:
personal_info(age = 30, addr = '서울 강남구 도곡동', name = '홍길동')

이름 : 홍길동
나이 : 30
주소 : 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [47]:
x = {'name' : '홍길동', 'age' : 30, 'addr' : '서울 강남구 도곡동'}
personal_info(**x)

이름 : 홍길동
나이 : 30
주소 : 서울 강남구 도곡동

In [48]:
# *x는 x의 키를 불러냄
personal_info(*x)

이름 : name
나이 : age
주소 : addr

### 가변 키워드 인수

In [49]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} : {value}')

In [32]:
personal_info2(**x)

name : 홍길동
age : 30
addr : 서울 강남구 도곡동

In [50]:
personal_info2(name = '홍길동', age = 30)

name : 홍길동
age : 30

### 고정 인수와 가변 키워드 인수

In [51]:
def personal_info3(name, **kwargs):
    print(name)
    print(kwargs)

In [52]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [53]:
def my_print(*args, **kwargs):
    print(*args, **kwargs)

In [54]:
my_print(10, 20, 30, sep = ', ')

10, 20, 30

## 30.4 매개변수에 초기값 지정

In [55]:
def personal_info4(name, age, addr = '비공개'):
    print('이름 :', name)
    print('나이 :', age)
    print('주소 :', addr)

In [56]:
personal_info4('홍길동', 30)

이름 : 홍길동
나이 : 30
주소 : 비공개

In [57]:
personal_info4(**x)

이름 : 홍길동
나이 : 30
주소 : 서울 강남구 도곡동