# Unit 34. 클래스(Class)

## 34.1 클래스와 메서드 만들기

In [1]:
class Person:           # 클래스 이름은 대문자로 시작
    def greeting(self):
        print('Hello')

In [2]:
# 인스턴스를 만들어야 클래스를 사용할 수 있음
james = Person()
maria = Person()

In [3]:
james.greeting()

Hello

In [4]:
maria.greeting()

Hello

In [5]:
Person().greeting()

Hello

In [6]:
# 클래스 내에서 메서드 호출하기
class Person:
    def greeting(self):
        print('Hello')

    def hello(self):
        self.greeting()

In [7]:
james = Person()
james.hello()

Hello

In [8]:
isinstance(james, Person)

True

In [9]:
def factorial(n):
    if not isinstance(n, int) or n < 0:
        return None
    if n == 1:
        return 1
    return n * factorial(n - 1)

In [10]:
factorial(3.14)

In [11]:
factorial(6)

720

## 34.2 속성(Attribute)

In [12]:
class Person:
    def __init__(self):
        self.hello = '안녕하세요'       # hello 속성을 갖게 됨

    def greeting(self):
        print(self.hello)

In [13]:
maria = Person()
maria.greeting()

안녕하세요

In [14]:
maria.hello = 'How are you?'
maria.greeting()

How are you?

In [15]:
class Person:
    def __init__(self, hello):      # Constructor
        self.hello = hello

    def greeting(self):
        print(self.hello)

In [16]:
james = Person('안녕하세요?')
maria = Person('How are you?')

In [17]:
james.greeting()
maria.greeting()

안녕하세요?
How are you?

In [18]:
class Person:
    def __init__(self, name, age, addr):
        self.hello = '안녕하세요?'
        self.name = name
        self.age = age
        self.addr = addr

    def greeting(self):
        print(f'{self.hello} 저는 {self.name}입니다.')

    # JAVA의 toString() method
    def __str__(self):
        return f'hello: {self.hello}, name : {self.name}, age : {self.age}, addr : {self.addr}'

In [19]:
maria = Person('마리아', 23, '서울시 강남구 도곡동')
maria.greeting()

안녕하세요? 저는 마리아입니다.

In [20]:
print(maria)

hello: 안녕하세요?, name : 마리아, age : 23, addr : 서울시 강남구 도곡동

In [21]:
maria.age = 30
print(maria)

hello: 안녕하세요?, name : 마리아, age : 30, addr : 서울시 강남구 도곡동

## 34.3 비공개 속성

In [22]:
class Person:
    def __init__(self, name, age, addr, wallet):
        self.name = name
        self.age = age
        self.addr = addr
        self.__wallet = wallet      # __wallet 속성은 비공개

    def greeting(self):
        print(f'안녕하세요? 저는 {self.name}입니다.')

    def pay(self, amount):
        if self.__wallet - amount < 0:
            print('지갑에 돈이 부족합니다.')
            return
        self.__wallet -= amount
        print(f'지갑에 남은 돈은 {self.__wallet}입니다.')

    # JAVA의 toString() method
    def __str__(self):
        return f'name : {self.name}, age : {self.age}, addr : {self.addr}, wallet = {self.__wallet}'

In [23]:
james = Person('제임스', 27, '서울시 강남구 역삼동', 10000)
james.greeting()

안녕하세요? 저는 제임스입니다.

In [24]:
print(james)

name : 제임스, age : 27, addr : 서울시 강남구 역삼동, wallet = 10000

In [25]:
# __wallet은 비공개 속성이므로 클래스 바깥에서는 변경할 수 없음
james.__Wallet = 1000000

In [26]:
print(james)

name : 제임스, age : 27, addr : 서울시 강남구 역삼동, wallet = 10000

In [27]:
james.pay(5000)

지갑에 남은 돈은 5000입니다.

In [28]:
print(james)

name : 제임스, age : 27, addr : 서울시 강남구 역삼동, wallet = 5000

In [29]:
james.pay(10000)

지갑에 돈이 부족합니다.

In [30]:
print(james)

name : 제임스, age : 27, addr : 서울시 강남구 역삼동, wallet = 5000

### Account 클래스 만들기
Attribute
- ano : 문자열 6글자, '123456'
- owner : 문자열
- balance : 잔액, 비공개 속성

Method
- 생성자
- deposit(amount) 잔액이 1000만원 이상이면 입금할 수 없음
- withdraw(amount) 잔액이 0원 미만이면 출금할 수 없음
- 출력가능

In [31]:
class Account:
    def __init__(self, ano, owner, balance):
        self.ano = ano
        self.owner = owner
        self.__balance = balance

    def deposit(self, amount):
        if self.__balance + amount >= 10000000:
            print('입금 후 잔액이 1000만원 이상이 되면 입금할 수 없습니다.')
            return
        self.__balance += amount

    def withdraw(self, amount):
        if self.__balance - amount < 0:
            print('잔액이 부족합니다.')
            return
        self.__balance -= amount

    def __str__(self):
        return f'계좌번호 : {self.ano}, 소유주 : {self.owner}, 잔액 : {self.__balance:9,d}'

In [32]:
acc = Account('123456', '제임스', 100000)
print(acc)

계좌번호 : 123456, 소유주 : 제임스, 잔액 :   100,000

In [33]:
acc.deposit(3000000)
print(acc)

계좌번호 : 123456, 소유주 : 제임스, 잔액 : 3,100,000

In [34]:
acc.deposit(7000000)
print(acc)

입금 후 잔액이 1000만원 이상이 되면 입금할 수 없습니다.
계좌번호 : 123456, 소유주 : 제임스, 잔액 : 3,100,000

In [35]:
acc.withdraw(2000000)
print(acc)

계좌번호 : 123456, 소유주 : 제임스, 잔액 : 1,100,000

In [36]:
acc.withdraw(2000000)
print(acc)

잔액이 부족합니다.
계좌번호 : 123456, 소유주 : 제임스, 잔액 : 1,100,000

In [37]:
acc2 = Account('987432', '마리아', 3000000)
print(acc2)

계좌번호 : 987432, 소유주 : 마리아, 잔액 : 3,000,000

In [38]:
acc_list = [acc, acc2]

In [39]:
for account in acc_list:
    print(account)

계좌번호 : 123456, 소유주 : 제임스, 잔액 : 1,100,000
계좌번호 : 987432, 소유주 : 마리아, 잔액 : 3,000,000

### 1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료

In [40]:
def check_duplicate(ano):
    for acc in acc_list:
        if ano == acc.ano:
            return True
    return False

In [41]:
# 사용자로부터 필요한 정보를 입력 받아서 계좌를 생성
def create_account():
    while True:
        s = input('계좌번호 성명 금액> ').split()
        ano, owner = s[0], s[1]
        amount = int(s[2])
        if not check_duplicate(ano):
            break
    acc = Account(ano, owner, amount)
    acc_list.append(acc)

In [42]:
# 사용자로부터 필요한 정보를 입력 받아서 계좌에 돈을 입금
def deposit_account():
    s = input('계좌번호 금액> ').split()
    ano, amount = s[0], int(s[1])
    for acc in acc_list:
        if acc.ano == ano:
            acc.deposit(amount)
            return

In [43]:
# 사용자로부터 필요한 정보를 입력 받아서 계좌에서 돈을 출금
def withdraw_account():
    s = input('계좌번호 금액> ').split()
    ano, amount = s[0], int(s[1])
    for acc in acc_list:
        if acc.ano == ano:
            acc.withdraw(amount)
            return

In [44]:
while True:
    menu = int(input('1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료> '))
    if menu == 5 :
        break
    if menu == 1 :
        create_account()
    elif menu == 2 :
        for account in acc_list:
            print(account)
    elif menu == 3 :
        deposit_account()
    elif menu == 4 :
        withdraw_account()
    else:
        print('잘못된 명령어입니다.')

    print()

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료> 2
계좌번호 : 123456, 소유주 : 제임스, 잔액 : 1,100,000
계좌번호 : 987432, 소유주 : 마리아, 잔액 : 3,000,000

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료> 1
계좌번호 성명 금액> 123456 홍길동 250000
계좌번호 성명 금액> 333555 홍길동 250000

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료> 2
계좌번호 : 123456, 소유주 : 제임스, 잔액 : 1,100,000
계좌번호 : 987432, 소유주 : 마리아, 잔액 : 3,000,000
계좌번호 : 333555, 소유주 : 홍길동, 잔액 :   250,000

1:계좌생성, 2:계좌목록, 3:입금, 4:출금, 5:종료> 5